.footer {
  background-color: var(--color-white);
  border-top: 1px solid var(--color-border);
}

.footer__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 104px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copyright {
  font-family: var(--font-roboto);
  font-size: 16px;
  font-weight: 400;
  color: #b6bcbf;
}

.footer__links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer__link {
  font-family: var(--font-roboto);
  font-size: 18px;
  font-weight: 400;
  color: var(--color-primary);
  transition: opacity var(--transition);
}

.footer__link:hover {
  opacity: 0.7;
}

@media (max-width: 1023px) {
  .footer__container {
    padding: 0 40px;
  }
}

@media (max-width: 767px) {
  .footer__container {
    flex-direction: column-reverse;
    align-items: flex-start;
    height: auto;
    padding: 24px 16px;
    gap: 24px;
  }

  .footer__copyright {
    font-size: 14px;
  }
}
